h1{
    font-size: 20rem;
    font-family: Montserrat;

};
.letters{
    transition: color 1000ms;
    
}
body{
    background-color: olive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
}